<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css" type="text/css"/>


    <title>E-KTP Database</title>
  </head>
  <body class="mb-5">
    <!-- nav start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/data">Sistem Informasi Data E-KTP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Data KTP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- nav end -->

    <!-- main start -->
      <div class="container mt-3">
          <h1 align="center">Create Data Dummy</h1>
          <div class="container">
              <div class="row">
                  <form action="/newData" method="post" name="form" enctype="multipart/form-data">
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">ID</label>
                          <div class="col-md-6 col-sm-6 ">
                              <input type="text" name="id" class="form-control" size="4" required>
                          </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Tanggal Lahir</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="date" name="tanggal" placeholder="(yyyy-mm-dd)" class="form-control" required>
                            </div>
                        </div>
                        <div class="item form-group">
                          <label class="col-form-label col-md-3 col-sm-3 label-align">Gambar</label>
                            <div class="col-md-6 col-sm-6">
                                <input type="file" name="gambar" class="form-control" required>
                            </div>
                        </div>
                        <div class="item form-group mt-4">
                            <div class="col-md-6 col-sm-6 ">
                                <button type="submit" name="submit" class="btn btn-primary" value="Simpan">Simpan</button>
                            </div>
                        </div>
                  </form>
              </div>
          </div>
      </div>
    <!-- main end-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>